.ui-pnotify .ui-pnotify-closer {
  visibility: visible !important;
}

.word-break-break-all {
  word-break: break-all;
}

body.tinyapp-dark #tb-setup-authenticator-form div.row>div>div>div {
	padding: 20px !important;
	background-color: white !important;
}

div.alert.alert-warning>h4.ui-pnotify-title,
div.tb-tk-alert-alert {
	word-wrap: break-word;
}

