<h1>
	Работа с интерфейса</h1>
<h2>
	Изисквания</h2>
<ul>
	<li>
		Браузър
		<ul>
			<li>
				Mozilla Firefox 30+</li>
			<li>
				Google Chrome/Chromium 30+</li>
			<li>
				Safari 8+</li>
			<li>
				Opera 15+</li>
		</ul>
	</li>
	<li>
		Включен javascript</li>
</ul>
<h2>
	Начин на работа</h2>
<ol>
	<li>
		Зарежда се указания URL адрес в браузъра.</li>
	<li>
		Избира се от менюто в заглавната лента &quot;Модели&quot;.</li>
	<li>
		Избира се модел, чиито стрингове трябва да бъдат преведени, които са изброени като табове в интерфейса.</li>
	<li>
		Отворената електронна таблица съдържа 1 + N колони, където N е броят езици, които се поддържат.
		<ul>
			<li>
				Първата колона са стринговете. Всеки стринг е текст на английски, който е близко до английския превод, но с технически обозначения в него. Съдържанието в тази колона не може да се променя.</li>
			<li>
				Следващите колони са отделните езици. Всяка клетка може да се редактира. Празното място преди и след текста не се запазват.</li>
		</ul></li>
	<li>
		Когато превеждането приключи, в горния десен ъгъл се натиска бутона "Запиши", за да бъдат перманентно приложени промените.</li>
</ol>
